body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 0;
  color: #0072ff;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #0072ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
}

.card img {
  width: 80%;
  height: 80%;
  display: none;
}

.card.flipped {
  background-color: #fff;
  transform: scale(1.1);
}

.card.flipped img {
  display: block;
}

#tryCount {
  font-size: 1.2em;
  color: #0072ff;
}
